<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <services>
    <service name="WCFAssignmentLib.Task1" behaviorConfiguration="myAssignmentServiceBehave">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:9001/Task1"/>
          <add baseAddress="net.tcp://localhost:9002/Task1"/>
        </baseAddresses>
      </host>
      <endpoint address="http://localhost:9001/Task1" binding="basicHttpBinding" contract="WCFAssignmentLib.ITask1"/>
      <endpoint address="net.tcp://localhost:9002/Task1" binding="netTcpBinding" contract="WCFAssignmentLib.ITask1"/>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="myAssignmentServiceBehave">
        <serviceMetadata httpGetEnabled="true"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>