<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITask1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITask1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/Task1" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITask1" contract="ServiceReference1.ITask1"
        name="BasicHttpBinding_ITask1" />
      <endpoint address="net.tcp://localhost:9002/Task1" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITask1" contract="ServiceReference1.ITask1"
        name="NetTcpBinding_ITask1">
        <identity>
          <userPrincipalName value="gkuppusamy@ahm.corp" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>